@model IEnumerable<Parking.Models.ParkingCellStatus>

@{
    ViewData["Title"] = "Index";
}


<div style="display: flex; justify-content: space-between;">
  <div id="emptyDiv">
      <h1>Estado de las celdas/h1>
  </div>
  <div> <a class="btn btn-primary"  asp-action="Create">Crear nuevo</a></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkingCellStatusId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ParkingCellStatusId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ParkingCellStatusId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
