@model IEnumerable<Parking.Models.Users>

@{
    ViewData["Title"] = "Index";
}

<div style="display: flex; justify-content: space-between;">
  <div id="emptyDiv">
      <h1>Usuarios</h1>
  </div>
  <div> <a class="btn btn-primary"  asp-action="Create">Crear nuevo</a></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
