@model IEnumerable<Parking.Models.Payments>

@{
    ViewData["Title"] = "Index";
}

<div style="display: flex; justify-content: space-between;">
  <div id="emptyDiv">
      <h1>Pagos</h1>
  </div>
  <div> <a class="btn btn-primary"  asp-action="Create">Crear nuevo</a></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
