@model IEnumerable<Parking.Models.CheckIngCheckOut>

@{
    ViewData["Title"] = "Index";
}



<div style="display: flex; justify-content: space-between;">
  <div id="emptyDiv">
      <h1>Registro de ingreso y salidad</h1>
  </div>
  <div> <a class="btn btn-primary"  asp-action="CreateChecking">Registrar Ingreso</a></div>
    <div> <a class="btn btn-primary"  asp-action="CreateCheckOut">Registrar Salida</a></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeCheckId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeCheckId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CheckIngCheckOutId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CheckIngCheckOutId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CheckIngCheckOutId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
